* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

a {
    color:white;
    text-decoration: none;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: gray;
}

p {
    font-size: 14px;
    font-weight: 300;
    color: gray;
}

.header{
    background-color:gray;
    align-items: center;
}

.header nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu ul li{
    list-style: none;
    letter-spacing: 2px;
    margin-left: 30px;
}

.logo {
    display: flex;
    color:white;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main {
    width: 90%;
    margin: auto;
}

section {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.section-info{
    width: 60%;
}

.section-vid{
    margin: auto;
    padding-top: 3%;
}
.section-vid iframe{
    margin-left: 55px;
}
.section-vtext{
    color: black;
    font-size: 15px;
    width: 76%;
    margin-left: 55px;
}

.section-img img{
    width: 90%;
}

.section-intro{
    margin: 25px 0 25px 0;
    display: flex;
}

.section-title{
    margin-top: -22px;
    display: inline-flex;
    font-size: 40px;
}

.section-text{
    margin-top: 15px;
    font-size: 20px;
}

.services{
    margin: 25px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.servicesRight{
    margin-right: 10px;
    text-align: center;
}

.servicesLeft{
    margin-left: 10px;
    text-align: center;
}

.section-subtitle {
    color: gray;
    margin-top: 12px;
    display: inline-flex;
    width: 10%;
    font-size: 20px;
    line-height:20px;

}

.prod-menu {
    display: inline-flex;
    justify-content:space-between;
    width: 110%;
    margin: 125px;
    margin-left: 10px;
}

.section-prod {
    width: 90%;
    margin-top: 7%;
}
.section-ptext {
    color: black;
    width: 60%;
    font-size: 15px;
    line-height: 15px;
}
.position{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.section-title2{
    margin-top: -22px;
    display: inline-flex;
    font-size: 40px;
}
.section-pimg{
    
}
.section-pimg img{
    width: 50%;
}