* {
    margin: 0;
    padding: 0;
}

a {
    color:white;
    text-decoration: none;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: gray;
}

p {
    font-size: 14px;
    font-weight: 300;
    color: gray;
}

.header{
    background-color:gray;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 10vh;
}

.nav-menu{
    list-style: none;
    display: flex;
    margin-left: 50px;
}

.nav-menu li{
    letter-spacing: 2px;
    margin-left: 30px;
}

.logo {
    color:white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main {
    width: 90%;
    margin: auto;
}

section {
    display: flex;
    text-align: justify;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.section-intro{
    margin: 25px 40% 25px 0;
}

.section-title{
    margin-top: 12px;
}

.section-text{
    margin-top: 10px;
    justify-content: space-around;

}
